<div style="background-image:url(https://cdn130.picsart.com/257722574007212.png);background-attachment:fixed; background-repeat: no-repeat; background-position:center;">
<div class="mx-auto"  style="width: 35rem;"><br><br><br><br><br><br><br><br>
  <div class="card border-warning mb-1">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://icon-library.com/images/projects-icon-png/projects-icon-png-8.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="container">
            <label for="prog" class="gg mb-4">{{labels}}</label>
            <div *ngIf="normalPB" class="mt-1" (click)="onClick()">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%':value}"></div>
              </div>
              <div>&nbsp; <b>{{label}} {{value}}</b>%</div>
            </div>
            <br>
            <div>
              <button class="btn btn-warning mt-1" style="width: 100%" type="button" (click)="showProgressBar(1)">Enter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>
</div>
</div>