<div class="container mt-4 mx-auto"  style="width: 35rem;">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.pinimg.com/736x/55/f8/af/55f8afd0d4c2224653f1ba467b6543e8.jpg" class="img-fluid rounded-start mt-5" alt="...">
        <div class="container">
          <input class="form-control" style="width: 100%" type="number" [(ngModel)]="inputMax" placeholder="Enter Max Value">
          <button class="btn btn-warning mt-1" style="width: 100%" type="button" (click)="enterMax()">Enter max</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="container mt-3 mb-3">
            <label for="prog" class="gg mb-4">Company's status</label>
            <div class="d-inline d-flex mt-2">
              <mat-progress-bar class="prog" color="warn" max="100" style="width: 80%" [bufferValue]="max" mode="buffer" [value]="currentProg"></mat-progress-bar><br>
              <div class="gg">&nbsp; <b>{{currentProg}}</b>%</div>
            </div>
            <br>
            <div>
              <input class="form-control" style="width: 100%" type="number" [(ngModel)]="txtRateValue" placeholder="Enter Value">
              <button class="btn btn-warning mt-1" style="width: 100%" type="button" (click)="updateRating()">Enter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="errors text-center">{{error}}</div>
</div>